<%- include('../partials/header', { title: "Edit Supplier" }) %>

<form method="POST" action="/suppliers/edit/<%= supplier._id %>" class="card p-3">
  <div class="mb-3">
    <label>Name</label>
    <input name="name" class="form-control" value="<%= supplier.name %>" required />
  </div>
  <div class="mb-3">
    <label>Address</label>
    <input name="address" class="form-control" value="<%= supplier.address %>" required />
  </div>
  <div class="mb-3">
    <label>Phone</label>
    <input name="phone" class="form-control" value="<%= supplier.phone %>" required />
  </div>
  <button type="submit" class="btn btn-warning">Update</button>
  <a href="/suppliers" class="btn btn-secondary">Cancel</a>
</form>

<%- include('../partials/footer') %>
