<%- include('../partials/header', { title: "Suppliers" }) %>
<a href="/suppliers/new" class="btn btn-primary mb-3">+ Add Supplier</a>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th><th>Address</th><th>Phone</th><th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% suppliers.forEach(s => { %>
      <tr>
        <td><%= s.name %></td>
        <td><%= s.address %></td>
        <td><%= s.phone %></td>
        <td>
          <a href="/suppliers/edit/<%= s._id %>" class="btn btn-warning btn-sm">Edit</a>
          <a href="/suppliers/delete/<%= s._id %>" class="btn btn-danger btn-sm">Delete</a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>

<%- include('../partials/footer') %>
